.girl{
    display: flex;
    flex-direction: row;
}

.boy{
    display: flex;
    flex-direction: row;
}



.first_row div{
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid blue;
}

.second_row div{
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid blue;
}

.third_row div{
    display:flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid blue;
}

img{
    width:300px;
    height:300px;
}

.klik .bold{
  
   display:flex;
   flex-direction: column;
   text-align: center;
   justify-content:center;
   position: absolute;
   top:700px;
  left:40%;
   font-size: 40px;

}

.klik img{
     
    width:60%;
    height:60%;
    position: absolute;
    left:20%;
    top:10%;


}


.header b{
    font-size: 50px;
    color: aqua;
    justify-content: space-around;
   
   
   }

   .header{
   
    display:flex;
   }




   .boy{
    display:flex;
    justify-content: space-around;
    
   }

   .girl{
    display:flex;
    justify-content: space-around;
    
   }


   

   .none1{
    width:80px;
   }

   .bold{
    display:flex;
    flex-direction: column;
    font-size: 40px;

    border: 5px solid rgb(11, 11, 11);
  
  }

  
  .first_row{
    margin-bottom: 80px;
  }
  


  